@charset "utf-8";
/* CSS Document */
body{
	margin:0;
	padding:0;
	}
.big_mid{
	overflow: auto;
    padding-left:21%;
    padding-top:6%;
    width:75%;
	}
.img1{
	float:left;
	padding-left:5%;
	width:27.5%;
	padding-left:5%;
	padding-bottom:5%;
	}
.world1{
	width:100%;
	text-align:center;
	`}
.world1 ul{
	padding-left:5%;
	padding-bottom:10%;
	}
.world1 ul li{
	display:inline;
	}
.world1 ul li a{
	color:#CCC;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	text-decoration:none;
	}
.world1 ul li a:hover{
	color:#ff9933;
	}

