@charset "utf-8";
/* CSS Document */
body, html {
	margin:0;
	padding:0;
}
#place_image{
	
	}
#place_image ul{
	padding-bottom:30px;
	padding-top:30px;
	}
#place_image ul li{
	display:inline;
	color:#FFF;
	padding-left:5px;
	padding-right:5px;
	}
#place_image ul li a{
	font-size:11px;
	color:#FFF;
	word-spacing:10px;
	}
#place_image ul li a:hover{
	color:#999;
	}	
.workshop{
	margin:auto;
	color: #666;
    font-size: 26px;
	text-align: justify;
    width: 70.5%;
	padding-top:40px;
	}
.agency{
	margin:auto;
	margin-top:40px;
	color: #666;
    font-size: 35px;
	text-align: justify;
    width: 70.5%;
	}
.our_team{
	margin:auto;
	margin-top:10px;
	font-size:16px;
	line-height:20px;
	text-align:justify;
	width:70.5%;
	color:#666;
	}
.since{
	margin:auto;
	color: #666;
    font-size: 16px;
    line-height: 20px;
    text-align: justify;
    width: 70.5%;
	margin-top:40px;
	}
.luxury{
	margin:auto;
	color: #666;
    font-size: 16px;
    line-height: 20px;
    margin-top: 40px;
    text-align: justify;
    width: 70.5%;
	}
#two_image_link{
	margin-top: 43.5%;
    width: 100%;
	}
#block_detail{
	background-color:#000; 
	width:100%; 
	padding-left:20px; 
	margin-top:-20px;
	padding-bottom:50px;	
	}
#block_detail2{
	background-color:#000; 
	width:100%; 
	padding-left:20px; 
	margin-top:-20px;
	padding-bottom:50px;
	margin-top:50px;	
	}
#place_image{
    margin-left: 41.5%;
    position: relative;
    width: 55%;
	}